<div class="jumbotron">
  <div class="container">
    <h1>Budget</h1>
    <p>Filler text donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
  </div>
</div>

<p class="lead">insert high-end estimate table here and more text and stuff a short summary</p>
<div class="table-responsive">
  <table class="table table-condensed table-hover">
    <thead>
      <tr>
        <th>here</th>
        <th>is</th>
        <th>a</th>
        <th>sample</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>table</th>
        <th>table</th>
        <th>table</th>
        <th>table</th>
      </tr>
      <tr>
        <th>table</th>
        <th>table</th>
        <th>table</th>
        <th>table</th>
      </tr>
    </tbody>
  </table>
</div>

<hr class="featurette-divider">
<h1>Budget Breakdown. <span class="text-muted">deets on the receipts.</span></h1>
<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading">Transportation. <span class="text-muted">Planes, trains, and more! (no trains though).</span></h2>
    <p class="lead">details on plains, cars, shuttles, gas, etc, etc. Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    <div class="table-responsive">
      <table class="table table-condensed table-hover">
        <thead>
          <tr>
            <th>wow</th>
            <th>look</th>
            <th>another</th>
            <th>table</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>table</th>
            <th>table</th>
            <th>table</th>
            <th>table</th>
          </tr>
          <tr>
            <th>table</th>
            <th>table</th>
            <th>table</th>
            <th>table</th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-5">
    <%= image_tag("/assets/placeholder.jpg", :class=>"featurette-image img-responsive center-block img-circle") %>
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7 col-md-push-5">
    <h2 class="featurette-heading">Lodging. <span class="text-muted">text</span></h2>
    <p class="lead">lodging Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo..</p>
  </div>
  <div class="col-md-5 col-md-pull-7">
    <%= image_tag("/assets/placeholder.jpg", :class=>"featurette-image img-responsive center-block img-circle") %>
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading">Activities. <span class="text-muted">skiing, snowboarding, or sitting at home.</span></h2>
    <p class="lead">insert text donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
  </div>
  <div class="col-md-5">
    <%= image_tag("/assets/placeholder.jpg", :class=>"featurette-image img-responsive center-block img-circle") %>
  </div>
</div>

<hr class="featurette-divider">

<!-- /END THE FEATURETTES -->