<!-- START THE FEATURETTES -->

<h1>Total budget</h1>
<p class="lead">insert high-end estimate table here 
maybe a short summary</p>

<hr class="featurette-divider">
<h1>Budget Breakdown. <span class="text-muted">deets on the receipts.</span></h1>
<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading">Transportation. <span class="text-muted">Planes, trains, and more! (no trains though).</span></h2>
    <p class="lead">details on plains, cars, shuttles, gas, etc, etc. Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
  </div>
  <div class="col-md-5">
    <%= image_tag("/assets/placeholder.jpg", :class=>"featurette-image img-responsive center-block img-circle") %>
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7 col-md-push-5">
    <h2 class="featurette-heading">Lodging. <span class="text-muted">text</span></h2>
    <p class="lead">lodging Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo..</p>
  </div>
  <div class="col-md-5 col-md-pull-7">
    <%= image_tag("/assets/placeholder.jpg", :class=>"featurette-image img-responsive center-block img-circle") %>
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading">Activities. <span class="text-muted">skiing, snowboarding, or sitting at home.</span></h2>
    <p class="lead">insert text donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
  </div>
  <div class="col-md-5">
    <%= image_tag("/assets/placeholder.jpg", :class=>"featurette-image img-responsive center-block img-circle") %>
  </div>
</div>

<hr class="featurette-divider">

<!-- /END THE FEATURETTES -->