<div class="jumbotron">
  <div class="container">
    <h1>Whistler 2016</h1>
    <p>Filler text donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
    <p><%= link_to "Let's go! &raquo".html_safe, prepare_path, class: "btn btn-success btn-lg" %></p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>Who's Going</h2>
      <p>Filler text  donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><%= link_to "View People &raquo".html_safe, people_path, class: "btn btn-default" %></p>
    </div>
    <div class="col-md-4">
      <h2>Price Tag</h2>
      <p>Filler text donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><%= link_to "View Budget &raquo".html_safe, budget_path, class: "btn btn-default" %></p>
   </div>
    <div class="col-md-4">
      <h2>Other Activities</h2>
      <p>Tired of skiing and snowboarding? Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
      <p><%= link_to "View Activities &raquo".html_safe, activities_path, class: "btn btn-default" %></p>
    </div>
  </div>

  <hr>
  
</div>