<div class="jumbotron">
  <div class="container">
    <h1>Prepare</h1>
    <p>Filler text  donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
  </div>
</div>

<!-- START THE FEATURETTES -->

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading">Start preparing now! <span class="text-muted">textextext.</span></h2>
    <p class="lead">plane tickets, cabin rentals, organize cars/shuttles, etc etc</p>
  </div>
  <div class="col-md-5">
    <%= image_tag("/assets/placeholder.jpg", :class=>"featurette-image img-responsive center-block img-circle") %>
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7 col-md-push-5">
    <h2 class="featurette-heading">Before arriving. <span class="text-muted"> textextxt.</span></h2>
    <p class="lead">shuttle tickets, car rentals, packing list, etc</p>
  </div>
  <div class="col-md-5 col-md-pull-7">
    <%= image_tag("/assets/placeholder.jpg", :class=>"featurette-image img-responsive center-block img-circle") %>
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading">At Whistler. <span class="text-muted"> more textextxt.</span></h2>
    <p class="lead"> Lift tickets, ski/snowboard rentals, food, activity tickets, etc. link to activities page</p>
  </div>
  <div class="col-md-5">
    <%= image_tag("/assets/placeholder.jpg", :class=>"featurette-image img-responsive center-block img-circle") %>
  </div>
</div>

<hr class="featurette-divider">

<!-- /END THE FEATURETTES -->