// Place all the styles related to the Frontpages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.jumbotron {
  background: url(/assets/whistler.jpg) no-repeat center;
  background-size: cover;
  margin-top: -50px;
}

.jumbotron .container h1 {
  color: white;
  font-weight: bold;
}

.jumbotron p {
  color: white;
}

.jumbotron p .btn {
  color: white;
  font-weight: bold;
}

.jumbotron p .btn-default:hover {
  color: #dddddd;
  border-color: #dddddd;
}

.container {
  max-width: 800px;
}