<!DOCTYPE html>
<html>
<head>
  <title>Whistler</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <table class="table table-condensed">
    <tr class="warning">
      <td>what</td>
      <td>2</td>
    </tr>
    <tr>
      <td>helo</td>
      <td>wa</td>
    </tr>
    </table>



<%= yield %>

</body>
</html>
